# O que é a biblioteca Pandas 

Pandas é uma biblioteca do python que melhor trabalha com dados. Essa biblioteca permite trabalhar com dados de diversas fontes: arquivos CSV, HTML, SQL etc. Na area de dados com python, é indispensavel. 

O pandas funciona com "séries" e com "DataFrame". De acordo com a documentação oficial (https://pandas.pydata.org/docs/user_guide/10min.html), séries seria uma matriz unidimensional que pode conter dados de quaisquer tipos. Ja o "DataFrame" seria uma estrutura de dados bem parecida com uma matriz bidimensional, que contém linhas e colunas. 


Para instalar o pandas pelo terminal: 

1 - conda install pandas 
2 - pip install pandas

In [8]:
import pandas as pd
import numpy as np

## Séries 
"pd.Series(data, index)"  essa classe cria uma série e precisa de 2 parametros: os dados e os indices. os indices são os rótulos que ficam a esquerda, eles indicam a posicao, uma letra etc.

In [2]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
dict = {'a': 10, 'b': 20, 'c': 30}

pd.Series(data = my_data) #sem os indices
pd.Series(data = my_data, index=labels) #com os indices

a    10
b    20
c    30
dtype: int64

In [3]:
pd.Series(dict) #passando o dicionário, ja se tem uma série com os dados e os indices

a    10
b    20
c    30
dtype: int64

In [4]:
serie1 = pd.Series([1,2,3,4], ['Brasil', 'EUA', 'France', 'Japan'])
serie1

Brasil    1
EUA       2
France    3
Japan     4
dtype: int64

In [5]:
serie2 = pd.Series([1,2,5,4], ['Brasil', 'USA', 'Italy', 'Japan'])

In [6]:
# Como acessar os elementos associados aos indices 
serie1['Brasil']
serie3 =pd.Series(data=labels)
serie3[0]  #criando uma nova série assim, da pra associar o indice com o dado associado

'a'

## DataFrames 
```
como criar: pd.DataFrame(data= <dados>, index = <indices/linhas>, colum= <as colunas>) 
```

In [15]:
from numpy.random import randn 
np.random.seed(101)
# criando um DataFrame:

df = pd.DataFrame(randn(5,5),['A', 'B', 'C', 'D', 'E'],["1","2","3","4","5" ])
df

          1         2         3         4         5
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [17]:
df["2"] # pegando toda a coluna "2"
df[["2", "3"]] #pegando as colunas 2 e 3, tipo um fatiamento

          2         3
A  0.628133  0.907969
B -0.848077  0.605965
C -0.589001  0.188695
D  0.190794  1.978757
E  1.693723 -1.706086

In [33]:
# criando uma nova coluna

df["new_colum"] = df["2"] + df["3"] # a coluna "new" será uma coluna com a soma dos elementos de "3" e "2"
df

          1         2         3         4         5  new_colum
A  2.706850  0.628133  0.907969  0.503826  0.651118   1.536102
B -0.319318 -0.848077  0.605965 -2.018168  0.740122  -0.242112
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237  -0.400305
D  0.955057  0.190794  1.978757  2.605967  0.683509   2.169552
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841  -0.012363

In [37]:
# retirando uma coluna do DataFrame 

df.drop("new_colum", axis= 1,inplace= True) # o axis indica de que ponto quer cortar a coluna
            # inplace precisa ser passado para dizer que em todo o código a nova coluna é descartada.
            # se não passar, ela só some na celula em que esta sendo executada
df

          1         2         3         4         5
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [42]:
# acessando as linhas

df.loc["A"]

1    2.706850
2    0.628133
3    0.907969
4    0.503826
5    0.651118
Name: A, dtype: float64

In [43]:
# utilizando seleção condicional 

df > 0

       1      2      3      4      5
A   True   True   True   True   True
B  False  False   True  False   True
C   True  False   True  False  False
D   True   True   True   True   True
E   True   True  False  False  False

In [47]:
df[(df["1"] > 0) & (df["2"] < 1)]  #condicional

          1         2         3         4         5
A  2.706850  0.628133  0.907969  0.503826  0.651118
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509