## Missing data 

Como lidar com dados que estão faltando/ ausentes

In [4]:
import pandas as pd
import numpy as np

In [5]:
dict = {"A": [1,2,np.nan], "B": [5,np.nan,np.nan], "C": [1,2,3 ]}
df = pd.DataFrame(dict)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

Como eliminar valores ausentes?
será bem comum quando pegar um dataset e ele tiver valores ausentes. 
```
Sintaxe: pandas.DataFrame.dropna(axis = 0, how ='any', thresh = None, subset = None, inplace=False)
```

1. axis: se for 0 irá analisar as linhas, se for 1 irá analisar as colunas
2. Objetivo: remover valores ausentes no dataframe
3. indicar o que será analisado. Se for "any", indica que qualquer linha/coluna que tiver valores faltando serão eliminadas. Se passar "all", todas as linhas/ colunas que todos os elementos estiverem faltando, serão eliminadas

In [6]:
df.dropna(axis= 1)

   C
0  1
1  2
2  3

In [7]:
df.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

## Como preencher os valores que estão faltando 

1. usa-se o método fillna()

In [8]:

df.fillna(value= 20) #value diz o valor que os ausentes terão

      A     B  C
0   1.0   5.0  1
1   2.0  20.0  2
2  20.0  20.0  3

In [9]:
# como especificar a coluna ou o valor

media_entre_os_valores = df["A"].mean()
df["B"].fillna(value=media_entre_os_valores) #vai substituir os valores ausentes da coluna B com a média dos valores da coluna A

0    5.0
1    1.5
2    1.5
Name: B, dtype: float64

## Input e output com pandas

O pandas será usado para abordar dados que estão em algum arquivo, seja ele CSV, SQL, HTML etc.

o comando é: 
```
df = pd.read_<arquivo>("<caminho do arquivo>")
``` 

Além disso tem como transformar arquivospor exemplo um arquivo csv em um SQL. 

```
df = pd.to_<arquivo final>("<arquivo atual>)

```